<a href="https://colab.research.google.com/github/jawadqayoom/DS-A/blob/main/20sw038_DS%26A_lab-task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1

In [ ]:
num = int(input("enter your prize number"))
if num>=1 and num<=50 :
    print('you have won wooden rabbit')

elif num<=150 :
    print('you have won no prize')

elif num<=180 :
    print('you have won wafer-thin mint')

elif num<=200 :
    print('you have won penguin')

enter your prize number174
you have won wafer-thin mint

TASK 2

In [ ]:
answer = 20
guess = int(input("Enter the number"))
if guess < answer :
 result = "Oops! Your guess was too low."
elif guess > answer :
 result = "Oops! Your guess was too high."
elif guess == answer :
 result = "Nice! Your guess matched the answer!"

print(result)

Enter the number40
Oops! Your guess was too high.

TASK 3

In [ ]:
states = input('Enter your state')
amount = int(input('enter purchased amount'))
if states == 'CA' :
    print(amount * .075)

if states == 'MN' :
    print(amount * .095)

if states == 'NY' :
    print(amount * .089)

Enter your stateCA
enter purchased amount2300
172.5

TASK 4

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]

for i in sentence:
    print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

TASK 5

In [ ]:

for i in range(5,31,5) :
    print(i)

5
10
15
20
25
30

TASK 6

In [ ]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [i.split()[0] for i in names]
print(first_names)

['Rick', 'Morty', 'Summer', 'Jerry', 'Beth']

TASK 7

In [ ]:
multiples_3 = [i for i in range(3,3*21,3)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

TASK 8

In [ ]:
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }
passed = [i for i in scores.values() if i >= 65 ]
print(passed)

[70, 82, 98]

TASK 9

In [ ]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = {i:j for i,j in zip(cast_names,cast_heights)}
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

TASK 10

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby",
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
for i,j in enumerate(cast):
    cast[i]=j + str(heights[i])

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']